{% include "base.html" %}
{% block title %}Journal Home{% endblock %}
{% block content %}
<h2>Journal</h2>
<form action="/" method="post">
    <div>
        <label>Date</label><br>
        <input type="date" name="date" required/>
    </div>
    <div>
        <label>Entry</label><br>
        <textarea name="entry" required></textarea>
    </div>
    <input type="submit">
</form>
<div>
    <h4>Recent entries</h4>
    {% if rec_ent|length == 0 %}
    <div>None</div>
    {% endif %}
    <ul>
    {% for re in rec_ent %}
    <li>{{ re[2] }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}